<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>QLSupportedContentTypes</key>
            <array>
                <string>public.email-message</string>
                <string>com.microsoft.outlook.mail-message</string>
                <string>com.microsoft.outlook.msg</string>
            </array>
            <key>QLSupportsSearchableItems</key>
            <false/>
        </dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.quicklook.preview</string>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
    </dict>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.microsoft.outlook.mail-message</string>
            <key>UTTypeDescription</key>
            <string>Outlook Message</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.item</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>msg</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>application/vnd.ms-outlook</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.microsoft.outlook.msg</string>
            <key>UTTypeDescription</key>
            <string>Outlook Message</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>com.microsoft.outlook.mail-message</string>
                <string>public.data</string>
                <string>public.item</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>msg</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>application/vnd.ms-outlook</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
